:root {
    --primary-color: #f79c07;
    --secondary-color: #e317c2;
    --tertiary-color: #b3d102;
    --quaternary-color: #00fe1d;
    --bg-white: #ffffff;
    --bg-gray: #ebebeb;
    --bg-dark: #5f5f5f;
    --text-light: #f5f5f5;
    --text-dark: #414141;
    --font-family: 'Arial', sans-serif;
    --box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    --box-hovershadow: 0 6px 15px rgba(0,0,0,0.15);
}