<header>
    <div class="header">
        <div class="header-title">
            <h1>My Finince Dashboard</h1>
            <p>Welcome to xPay payment Portel</p>
        </div>
        <div class="header-nav">
            <div class="notifications"><i class="fa-solid fa-bell"></i></div>
            <div class="avatar"><img src="assets/profile.webp" alt="avatar"></div>
            <div class="drapdown">
                <button onclick="profileDropdown()" class="dropdown-btn">Kiran lal J <i class="fa-solid fa-caret-down"></i></button>
                <div class="dropdown-menu">
                    <a href="#">Profile</a>
                    <a href="#">Settings</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
    </div>
</header>