<aside>
  <div class="sidebar">
    <div class="logo">
      <img src="assets/logo.webp" alt="Logo" class="logo" />
    </div>
    <div class="sidebar-menu">
      <ul class="menu-list">
        <h2 class="menu-title"><img src="assets/logo_sub.webp" alt="">My Dashboard</h2>
        <li><i class="fa-solid fa- fa-user-tie"></i>  Accounts</li>
        <li><i class="fa-solid fa- fa-mobile-screen-button"></i> Mobile</li>
        <li><i class="fa-solid fa- fa-file-invoice-dollar"></i>Payments</li>
        <li><i class="fa-solid fa- fa-file-lines"></i>Complaints</li>
        <li><i class="fa-solid fa- fa-headset"></i>Supports</li>
      </ul>
    </div>
  </div>
</aside>